.comic-button {
  width: 80%;
  margin-bottom: 3%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f0ece8;
  background-color: rgba(201, 167, 235, 0.6);
  border: 2px solid rgba(201, 167, 235, 0.6);
  border-radius: 10px;
  box-shadow: 4px 4px 0px #8a7575;
  transition: all 0.5s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #ceb7d1;
  color: #f1f1f1;
  border: 2px solid  #ceb7d1;
  box-shadow: 5px 5px 0px#ceb7d1;
}

.comic-button:active {
  background-color: #a44796;
  box-shadow: none;
  transform: translateY(4px);
}

@media (min-width:1024px) {

.comic-button {
  width: 50%;

  
}


  

}






