.comic-button {
  width: 80%;
  margin-bottom: 3%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f0ece8;
  background-color: rgba(201, 167, 235, 0.6);
  border: 2px solid rgba(201, 167, 235, 0.6);
  border-radius: 10px;
  box-shadow: 4px 4px 0px #8a7575;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #d18bda;
  color: #ed7dd1;
  border: 2px solid     #ed7dd1;
  box-shadow: 5px 5px 0px #ed7dd1;
}

.comic-button:active {
  background-color: #a44796;
  box-shadow: none;
  transform: translateY(4px);
}
