.button-compartir {
  display: flex;
  gap: 4px;
  background-color: #bc84f4;
  color: white;
  border: none;
  border-radius: 11px;
  padding: 9px 10px;
  cursor: pointer;
  font-family: inherit;
  transition: all 1.5s ease;
}

.button-compartir:hover {
  background-color: #d982cc;
}
