.service-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(201, 167, 235, 0.2);
}

.service-card-image {
  width: 80%;
  height: 100%;
  background: #e9d5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  object-fit: cover;
}

.service-card-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.service-card-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: #4a4a4a;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.service-card-description {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
  flex-grow: 1;
}

.service-card-details {
  display: flex;
    flex-direction: column;
    align-items: anchor-center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
}

.service-card-duration {
  font-size: 0.9rem;
  color: #888;
  display: flex;
  align-items: center;
  order: 6;
  gap: 5px;
}

.service-card-duration i {
  color: #c9a7eb;
}

.service-card-pricing {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  order: 5;
}

.service-card-price {
  font-weight: 700;
  color: #9d7ad2;
  font-size: 1.3rem;
  margin: 0;
}

.service-card-deposit {
  font-size: 0.85rem;
  color: #888;
  margin: 2px 0 0 0;
  font-style: italic;
}
