.header {
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  background: #c9a7eb;
  height: 80px;
  align-items: center;
  padding: 6px;
}

.header-conteiner-title-logo{
    display: flex;
    align-items: center;
}

.header .header-conteiner-title-logo .logo{
    width: 35px;
    height: 35px;
}

.header-title {
  font-size: .9rem;
  font-weight: 700;
  margin: 0;
  color: #000000;
  letter-spacing: 0.5px;
}

@media (min-width: 600px) {
  .header {
 
  padding: 10px;
}

.header-conteiner-title-logo{
 
}

.header .header-conteiner-title-logo .logo{
 
}

.header-title {
 font-size: 2rem;
}
    }
