.header {
  display: flex;
  justify-content: space-between;
  font-family: "Sacramento", cursive;
  background: #c9a7eb;
  height: 10vh;
  align-items: center;
  padding: 0 20px;
}

.header-title {
  font-size: 1.5rem;
  margin: 0;
}
