.saludo-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}

.saludo-conteiner-logo {
  text-align: center;
  margin-top: 40px;
}

.saludo-conteiner-logo .logo {
  width: 200px;
  height: 200px;
}
