.saludo-conteiner-logo {
  margin-top: 40px;
}

.saludo-conteiner-logo .logo {
  
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; /* Asegura que la imagen se adapte al contenedor sin recortarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.saludo-title {
  font-size: 1.5rem;
   margin: 20px 0;
}

.saludo-subtitle{
    font-size: 1rem;
    width: 50%;
    text-align: center;
}



