.saludo-conteiner-logo {
  margin-top: 40px;
}

.saludo-conteiner-logo .logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.saludo-title {
  font-size: 1.5rem;
   margin: 20px 0;
}

.saludo-subtitle{
    font-size: 1rem;
    width: 50%;
    text-align: center;
}



