#root {
  max-width: 100%;
  margin: 0 ;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Kedebideri", sans-serif;
  padding-bottom: 100px; /* Space for Dock */
  background-color: #fbf4fc;
}
